
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	width: 100vw;
}

:root {
	--instructor-bg-color: hsl(0, 48%, 51%);
	--instructor-bg-hue: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #cecece;
	min-height: 100vh;
	width: 100%;
}

#instructors {
	display: grid;
	padding: 50px;
	margin: 0;
	margin-top: 1px;
	min-height: 50vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 50px;
	justify-items: center;
	align-items: center;
	justify-content: center;
}

#instructors div {
	padding: 0px;
	border-radius: 5px;
	width: 180px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	transition: all 0.4s ease;
	background: linear-gradient(to bottom, #8d8d8d, #444444);
	border: 1px solid #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

#instructors div img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: grayscale(100%);
	transition: all 0.4s ease;
	/* define bg color variable */
	background: linear-gradient(to bottom, hsl(var(--instructor-bg-hue), 50%, 50%), 80%, black);
}

#instructors div:has(img:hover) {
	cursor: pointer;
	border: 8px solid #fff;
}

#instructors div img.hover {
	filter: grayscale(0%);
	transform: scale(1.2) translate(0px, -10px);
	cursor: pointer;
}

#instructor-info {
	max-width: 80%;
	min-width: 900px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: hsl(var(--instructor-bg-hue), 50%, 30%);
	transition: all 0.4s ease;
	color: #fff;
	min-height: 30vh;
	border-radius: 16px;
	border: 1px solid #fff;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.9);
}

#instructor-info h2 {
	font-size: 2rem;
	margin-bottom: 10px;
	color: #fff;
}

#instructor-info p {
	font-size: 1.3rem;
	line-height: 1.5;
	margin-bottom: 10px;
	max-width: 600px;
	text-align: center;
	color: #fff;
}

